# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

*.pdf

.DS_Store

packwiz

.vscode

config/ftbutilities.cfg
config/ironfurnaces.cfg
config/journeymap_server.cfg
config/moreloottables.cfg
config/MoreOverlays.cfg
config/p455w0rdsLib.cfg
config/packagedauto.cfg
config/placebo.cfg
config/snad.cfg
config/supersoundmuffler.cfg
config/tombmanygraves.cfg
config/topaddons_client.cfg
config/topaddons.cfg
config/torchmaster.cfg
config/xtones.cfg
config/apotheosis/potion.cfg
config/apotheosis/spawner.cfg
config/AppliedEnergistics2/Facades.cfg
config/astralsorcery/aevitas_ore_perk.cfg
config/astralsorcery/herdable_animals_blacklist.cfg
config/astralsorcery/mineralis_ritual.cfg
config/astralsorcery/perk_void_trash_replacement.cfg
config/astralsorcery/treasure_shrine.cfg
config/bhc/BaubleyHeartCanisters.cfg
config/brandon3055/BrandonsCore.cfg
config/cofh/core/client.cfg
config/cofh/thermalfoundation/client.cfg
config/cofh/thermalinnovation/client.cfg
config/cofh/thermalinnovation/common.cfg
config/compactmachines3/settings.cfg
config/enderio/enderiointegrationforestry.cfg
config/enderio/enderioinvpanel.cfg
config/enderio/enderiomachines.cfg
config/enderio/enderiopowertools.cfg
config/InvTweaks/InvTweaks.cfg
config/jei/itemBlacklist.cfg
config/jei/searchColors.cfg
config/teamreborn/reborncore/client.cfg
config/teamreborn/reborncore/misc.cfg
config/teamreborn/reborncore/power.cfg
config/teamreborn/reborncore/upgrades.cfg
config/opencomputers/settings.conf
config/AppliedEnergistics2/CustomRecipes.cfg
config/enderio/recipes/user/recipes.xsd
config/enderio/recipes/examples/recipes.xsd
config/InvTweaks/InvTweaksTree.txt
config/AppliedEnergistics2/items.csv
config/JustEnoughCalculation/main.cfg
config/betterp2p.cfg
config/forge_early.cfg
config/forgivingvoid.cfg
config/fugue.cfg
config/gcyl.cfg
config/gcym.cfg
config/groovyscript.cfg
config/HadEnoughCharacters.cfg
config/JustEnoughCharacters.cfg
config/materialreplication.cfg
config/modularui.cfg
config/nae2.cfg
config/serializationisbad-remotecache.json
config/serializationisbad.json
config/stellar_core.cfg
config/supercritical.cfg
config/vintagefix.properties
config/acronym/base/General.cfg
config/advRocketry/Centrifuge.xml
config/advRocketry/PrecisionLaserEtcher.xml
config/apotheosis/names.cfg
config/aroma1997/aroma1997core.cfg
config/baubles/slots.json
config/brandon3055/ProjectIntelligence/GuiConfig.json
config/brandon3055/ProjectIntelligence/GuiStyle/ActiveStyle.json
config/brandon3055/ProjectIntelligence/GuiStyle/DefaultPresets/darcula.json
config/brandon3055/ProjectIntelligence/GuiStyle/DefaultPresets/vanilla.json
config/cofh/core/friends.cfg
config/flare/flare.cfg
config/futuremc/futuremc.cfg
config/ironbackpacks/blacklist.json
config/ironbackpacks/ironbackpacks.cfg
config/jeiutilities/jeiutilities.cfg
config/JustEnoughCalculation/record.json
config/loliasm/methods-stable_39.csv
config/resize/resize.cfg
config/scavenge/config.cfg
config/teamreborn/configData.nbt
local/client/ftblib.cfg
local/client/ftbutilities.cfg
